# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/

### Maven target directory
target

### Log files
*.log


