<span id="qa-user-details-page-id"></span>
Username: <span id="qa-user-name-id">{{authDetails.authId}}</span>
<br/>
AuthToken: <span id="qa-auth-token-id">{{authDetails.authToken}}</span>
<br/>
Permissions:
<br/>
<span ng-repeat="authPermission in authDetails.authPermissions">
    <span class="qa-auth-permission">{{authPermission}}</span>
    <br/>
</span>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<span id="qa-footer-element">Some footer element</span>
