<span id="qa-user-details-page-id"></span>
Username: {{authDetails.authId}}
<br/>
AuthToken: {{authDetails.authToken}}
<br/>
Permissions:
<br/>
<span ng-repeat="authPermission in authDetails.authPermissions">
    {{authPermission}}
    <br/>
</span>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<span id="qa-footer-element">Some footer element</span>
